/* ===============================
        Section : Footer
=============================== */

.footer {
    padding: 5rem 0; /* 80px */
    background-color: #272727;
}

.footer > .content {
    margin: 0 auto;
    width: 100%;
    max-width: 75rem; /* 1200px */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2rem; /* 32px */
    gap: 2rem;
}

.footer > .content {
    border-top: 1px solid #ffffff; /* Pour une bordure blanche */
    padding-top: 32px;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* 16px */
}

.footer-logo img {
    width: 12.5rem; /* 200px */
    fill: none;
}

.footer-logo p {
    max-width: 15rem; /* 240px */
    color: #E1E1E1;
}

.links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 4rem; /* 64px */
}

.links div {
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* 20px */
}

.links h6 {
    color: #56B280;
}

.footer-links {
	color: #E1E1E1;
	text-decoration: none;
    font-family: 'Sen', sans-serif;
    font-size: 1rem;
}

.footer-links:hover {
    color: #fff;
}
